page-home {
#hey{
    transform: rotate(20deg);

}
.toolbar-background {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/6/62/Starsinthesky.jpg')!important;
    
   
    
}
.fabearth{
    position: absolute;
    left: 100px;
    top: 100px;
}

 // Ensure the navbar menu (sidebar) button/icon renders white
 ion-navbar {
     button[ion-button] {
         color: #ffffff !important;
     }
     button[ion-button] .ion-icon {
         color: #ffffff !important;
         fill: #ffffff !important;
     }
 }

}
